article {
    margin-bottom: 50px;
}

.card {
    box-shadow: 5px 5px grey;
    background: #60a7dc;
}

.featured-pic {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.review-news-pic {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-title {
    background-image: none;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120%;
}

button {
    background-color: #4a7ccc;
    padding: 10px 15px;
    float: right;
    margin-top: 7px;
    border: none;
    box-shadow: 1px 1px grey;
}

button:hover {
    background-color: #3b63a3;
}